---
import Layout from "../layout.astro";
---

<Layout title="Page Not Found">
  <h1 class="text-bright text-center text-4xl font-bold">Page Not Found</h1>
  <a href="/" class="link mt-4 block text-center text-xl">Go Back to Blog</a>
</Layout>
